#!/bin/bash

if ! command -v brew >/dev/null 2>&1; then
  echo "Homebrew is not installed. Installing now."
  # Homebrew installation script
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Define your formula (CLI) packages here
FORMULA_PACKAGES=(
  "atuin"
  "chezmoi"
  "eza"
  "fd"
  "fzf"
  "lazydocker"
  "lazygit"
  "neovim"
  "nvm"
  "poetry"
  "pyenv"
  "ripgrep"
  "sshs"
  "starship"
  "tmux"
  "yazi"
  "zoxide"
  "zsh-autosuggestions"
  "zsh-autocomplete"
  "zsh-syntax-highlighting"
)

# Define cask (GUI/app) packages here
CASK_PACKAGES=(
  "font-jetbrains-mono-nerd-font"
)

{{- if eq .chezmoi.os "linux" -}}
# LINUX ONLY
FORMULA_PACKAGES+=(
  "xsel"
)
CASK_PACKAGES+=()
{{ end -}}

{{- if eq .chezmoi.os "darwin" -}}
# MAC ONLY
  FORMULA_PACKAGES+=(
    "battery"
    "colima"
    "docker"
    "docker-compose"
    "docker-completion"
    "ical-buddy"
    "mongosh"
    "ruby"
    "ruby@3.3"
    "wget"
    "nebula-cli"
  )
  CASK_PACKAGES+=(
    "android-platform-tools"
    "betterdisplay"
    "calibre"
    "ghostty"
    "karabiner-elements"
    "keepassxc"
    "mongodb-compass"
    "kitty"
    "pgadmin4"
    "zed"
  )
{{ end -}}


echo
echo "Installing formulas..."
for pkg in "${FORMULA_PACKAGES[@]}"; do
    if ! brew list --formula | grep -qw "$pkg"; then
        echo "Installing formula: $pkg..."
        brew install "$pkg"
    else
      echo "Already installed (form): $pkg"
    fi
done
echo "Done!"

echo
echo "Installing casks..."
for cask in "${CASK_PACKAGES[@]}"; do
    if ! brew list --cask | grep -qw "$cask"; then
        echo "Installing cask: $cask..."
        brew install --cask "$cask"
    else
      echo "Already installed (cask): $cask"
    fi
done
echo "Done!"

echo
echo "Removing obsolete packages..."
should_keep() {
  local pkg="$1"
  for keep_pkg in "${FORMULA_PACKAGES[@]}" "${CASK_PACKAGES[@]}"; do
    if [ "$keep_pkg" = "$pkg" ]; then
      return 0
    fi
  done
  return 1
}
for name in $(brew list --formula --installed-on-request ); do
  if ! should_keep "$name"; then
    echo "Uninstalling $name (not in whitelist)"
    brew uninstall "$name"
  fi
done
echo "Done!"

brew autoremove
brew cleanup

if [[ -d "$HOME/.tmux" ]]; then
  echo "TMUX TPM exists. Skipping install"
else
  echo "Installing TMUX TPM"
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi
